
    <!--header-->

<section id = "header" class ="header">
    
    <a href = "#" class = "logo">WABISABI</a>
    <nav class = "navbar">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/">Payment</a>

    </nav>
    <div class ="icons">
        <form method="post" action="/search">
        <input type="text" id="search-box" placeholder="...">
        <button style="height: 3.5rem;width: 3.5rem;line-height: 3.5rem;border-radius: .5rem;font-size: 2.0rem;color: black;margin-left: .3rem;text-align: center;cursor: pointer;"class="bx bx-search" id="search-btn" type="submit" ></button>
        </form>
        <div class="bx bx-shopping-bag" id="shoppin bag"></div>
        <button style="height: 3.5rem;width: 3.5rem;line-height: 3.5rem;border-radius: .5rem;font-size: 2.0rem;color: black;margin-left: .3rem;text-align: center;cursor: pointer;"class="bx bxs-user" type="user-icon" onclick="Login()"></button>

    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="...">
        <label for="search-box" class="bx bx-search"></label>

    </form>
    

</section>
    <!--home-->
<div class="home-bg">
    <section class="home" id="home">
        
        <div class="content">
            <h3> Wabisabi cosmetics </h3>
            <a href="#products" class="btn">Shop now</a>
            
        </div>

    </section>
</div>
    <!--about-->
<section class="about" id="about">
    <div class="image">
        <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763379/dm/img/Screen-Shot-2018-11-02-at-11.47.39-AM_kjfe3i.png" alt="">
    </div>
    <div class="content">
        <h5>NEW!</h5>
        <h3>Moisture Cream</h3>
        <p>I'm 'm a dedicated culture critic and blogger located in San Francisco, California</p>
        <a href="#products" class="btn">Shop now</a>
    </div>
</section>
    <!--Best seller-->
<section class="bestseller" id="bestseller">
        <h1 class="heading"> Bestsellers</h1>

        <div class="box-container">
            {{#each prods}}
            <div class="box">
                <img src="{{this.imgURL}}" alt="">
                <div class="stars">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star-half"></i>
                </div>
                <h3>{{this.name}}</h3>
                <div class="price">{{this.price}}</div>
                <button href="/" class="btn" onclick = AddToCart()>Add to cart</button> 
               
                
            </div>
        </div>
         {{/each}}
</section>
    <!--Our work-->
<section class="ourwork" id="ourwork">
    <h1 class="heading">Our work</h1>
    <div class="content">
        <div class="itemitem1">
            <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763377/dm/img/our_work_2_cfnizc.jpg">
            <h2 class="heading1">Skincare best sellers</h2>
            <a href="products.html" class="btn">Learn more</a>
        </div>
        <div class="itemitem2">
            <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763378/dm/img/our_work_xuya8i.jpg">
            <h2 class="heading1">Lipstick</h2>
            <a href="products.html" class="btn">Learn more</a>
        </div>

    </div>
</section>
    <!--shop by brand-->
<section class="brand" id="brand">
    <h1 class="heading"> Shop by brand</h1>
    <div class="swiper pro-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763379/dm/img/shop_by_brand_mmcsiv.jpg" alt="">
                <h3>abcd</h3>
                <div class="price">$22.19</div>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="swiper-slide box">
                <img src="/isd/img/bestseller pro4.png" alt="">
                <h3>abcd</h3>
                <div class="price">$22.19</div>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="swiper-slide box">
                <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763376/dm/img/bestseller_pro5_fpnyg3.jpg" alt="">
                <h3>abcd</h3>
                <div class="price">$22.19</div>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="swiper-slide box">
                <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763379/dm/img/shop_by_brand2_jow72o.webp" alt="">
                <h3>abcd</h3>
                <div class="price">$22.19</div>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="swiper-slide box">
                <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763379/dm/img/shop_by_brand3_yls1zt.jpg" alt="">
                <h3>abcd</h3>
                <div class="price">$22.19</div>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="swiper-slide box">
                <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763380/dm/img/shop_by_brand4_wifktl.webp" alt="">
                <h3>abcd</h3>
                <div class="price">$22.19</div>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="swiper-slide box">
                <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763379/dm/img/shop_by_brand5_k9oaqo.webp" alt="">
                <h3>abcd</h3>
                <div class="price">$22.19</div>
                <a href="#" class="btn">Add to cart</a>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</section>
    <!--service start-->
<section class="service">
    <div class="boxes">
        <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763378/dm/img/service_tdujrd.jpg" alt="">
        <h3> Free shipping and return</h3>
    </div>

    <div class="boxes">
        <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763378/dm/img/service2_uucxvr.jpg" alt="">
        <h3> Free samples to try</h3>
    </div>

    <div class="boxes">
        <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763379/dm/img/service3_dxx1fr.png" alt="">
        <h3> easy to pay</h3>
    </div>

    <div class="boxes">
        <img src="https://res.cloudinary.com/dhrk1no6n/image/upload/v1679763379/dm/img/service4_pus9go.png" alt="">
        <h3> many vouchers</h3>
    </div>

</section>
    <!--footer section-->
<section class="footer">
        <div class="box-icons">
            <a href="#" class="bx bxl-facebook-circle" ></a>
            <a href="#" class="bx bxl-instagram" ></a>
            <a href="#" class="bx bxl-twitter" ></a>
            <a href="#" class="bx bxl-pinterest" ></a>
            <a href="#" class="bx bxl-tiktok"></a>
        </div>
        <div class="box">
            <a href="contact us">Contact us</a>
            <a href="shipping">Shipping</a>
            <a href="privacy policy">Privacy policy</a>
            <a href="cookie setting">Cookie setting</a>

        </div>

    <div class="credit"> @ <span>DTUL,IIc.</span> All Rights Reserved</div>
</section>






<script>
    function SWAlert(title, icon) {
        return Swal.fire({
            title: title,
            icon: icon,
        });
    }

    async function Login() {
        const { value: formValues } = await Swal.fire({
            title: 'Login Form',
            html: `<input type="text" id="username" class="swal2-input" placeholder="username">
                   <input type="password" id="password" class="swal2-input" placeholder="Password">`,
            showDenyButton: 'Cancel',
            confirmButtonText: 'Sign in',
            customClass: 'swal-wide',
            focusConfirm: false,
            preConfirm: () => {
                return [
                   document.getElementById('username').value,
                   document.getElementById('password').value
                   /* $('#username').val(),
                    $('#password').val() */
                ];
            }, 
            inputAttributes: {
                autocapitalize: 'off'
            }
        });
        if (formValues) {
            $.post('/login', {
                username: formValues[0],
                password: formValues[1]
            }, async (data) => {
                if (data === "true") {
                    //notify that user that has been logined, this is temp since it supposes to redirect to another page
                    await SWAlert("Login successfully", "success");
                    window.location.reload();
                } else {
                    await SWAlert("Login failed", "error");
                }
            });
        }
    } 

    
  function AddToCart() {
    var path = window.location.pathname
    var listpath = path.split("/")
    var indexId = listpath[2]
    var Mybag = localStorage.getItem("Cart")
    if (Mybag == "" || Mybag == null || Mybag == undefined) {
      localStorage.setItem("Cart", indexId)
      alert('Added to cart')
      return;
    } 
    alert('Added to cart')
    var listMyBag = Mybag.split(",")
    listMyBag.push(indexId);
    localStorage.setItem('Cart', listMyBag)
  }

</script>
